{% extends 'base.html' %}
        {% block content %}

        <div class="h-100 d-inline-block">
            <br><br><br>
            <br><br><br>
            <br><br><br>
            <br>

            <div class="container-fluid">
                <div class="col-lg-14 pb-4">
                    <h1>WeatherNow</h1>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-lg-14 pb-4 text-center">
                    <h4>Veja a previsão meteorológica da sua cidade</h4>
                </div>
            </div>

            <br><br><br>

            <div class="d-inline-block text-center items-align-center">
                <form class="user" action="{% url 'forecast_city' %}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" name="cityText" class="form-control form-control-user" id="city" aria-describedby="heightHelp" placeholder="Introduza a sua cidade...">
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info waves-effect btn-md">Pesquisar</button>
                </form>
            </div>

            <br><br><br>
            <br><br><br>
            <br><br><br>
            <br><br><br>
        </div>
        {% endblock %}
