{% extends 'base.html' %}
        {% block content %}
          <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="text-center">

                <div class="col-lg-14 pb-4 text-center">
                    <h1>WeatherNow</h1>
                </div>

                <div class="col-lg-14 pb-4 text-center">
                    <h3>Veja a previsão meteorológica da sua cidade</h3>
                </div>

                <form class="row gy-2 gx-3 align-items-center" action="{% url 'forecast_city' %}" method="post">
                    <div class="input-group mb-3">
                      <input id ="city"
                             name="cityText"
                        type="text"
                        class="form-control"
                        placeholder="Introduza a sua cidade..."
                        aria-label="Introduza a sua cidade..."
                        aria-describedby="button-addon2"
                      />
                        {% csrf_token %}
                      <button
                        class="btn btn-outline-primary"
                        type="button submit"
                        id="button-addon2"
                        data-ripple-color="dark"
                      >
                        Pesquisar
                      </button>
                    </div>
                </form>
            </div>
          </div>
        {% endblock %}