{% extends 'base.html' %}
        {% block content %}

         <div class="h-100 d-inline-block">
            <br><br>

 	<div class="container-fluid">
                <div class="col-lg-14 pb-4">
                    <h1 class="text-white">WeatherNow</h1>
                </div>
            </div>

		<div class="row row-cols-1 row-cols-md-3 g-4">
		  <div class="col">
		    <div class="card" style="max-width: 20rem">
		      <img
			src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
			class="card-img-top"
			alt="..."
		      />
		      <div class="card-body">
			<h5 class="card-title">{{title}}</h5>
			<p class="card-text">
			  {{image | safe}}
			  <p> </p>
			  {{weather}}
			</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card" style="max-width: 20rem">
		      <img
			src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
			class="card-img-top"
			alt="..."
		      />
		      <div class="card-body">
			<h5 class="card-title">{{title2}}</h5>
			<p class="card-text">
			  {{image2 | safe}}
			  <p> </p>
			  {{weather2}}
			</p>
		      </div>
		    </div>
		  </div>
		  <div class="col">
		    <div class="card" style="max-width: 20rem">
		      <img
			src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
			class="card-img-top"
			alt="..."
		      />
		      <div class="card-body">
			<h5 class="card-title">{{title3}}</h5>
			<p class="card-text">
			  {{image3 | safe}}
			  <p> </p>
			  {{weather3}}
			</p>
		      </div>
		    </div>
		  </div>
		  
		</div>

            <br><br><br><br><br>


                <div class="col">
                    <div class="card" style="max-width:40rem;">

                      <div class="card-body">
                        <div class="container-fluid">
                            <div class="col-md-12 pb-4 text-center">
                                <h4 class="dark-text"><b>Veja a previsão meteorológica da sua cidade</b></h4>
                            </div>
                        </div>
                      </div>

                        <div class="d-inline-block text-center items-align-center">
                            <form class="user" action="{% url 'forecast_city' %}" method="post">
                                <div class="form-group mx-sm-2 mb-2" >
                                    <input type="text" name="cityText" class="form-control form-control-user z-depth-1" id="city" aria-describedby="heightHelp" placeholder="Introduza a sua cidade...">
                                </div>
                                {% csrf_token %}
                                <br>
                                <button type="submit" class="btn btn-indigo darken-4 waves-effect btn-md">Pesquisar</button>
                                <br>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            <br><br><br>
            <br><br><br>
        </div>
        {% endblock %}
