{% extends 'base.html' %}
        {% block content %}
        	</br>
			<div class="card" style="width: 65rem">
			  {% if image %}
			  <div class="weather-part-second-image">
				  {{ image | safe }}
				  <div class="badge badge-primary weather-part-second-image-label pl-3 pr-3 pt-2 rounded-0">
	                    <p>{{ day }}</p>
	              </div>
	          </div>
	          {% endif %}
			  <div class="card-body">
			    <h4 class="card-title">Níveis de Ondulação</h4>
			    <p class="card-text">
			      Informação sobre os níveis de ondulação em {{city_name}}:
			    </p>
			  </div>
			  {% if forecast %}
			  	{{ forecast | safe }}
			  {% else %}
			  	<h5> Cidade não costeira, não tem informação de ondulação! </h5>
			  {% endif %}
			  <div class="card-body">
			  	<form class="user" action="{% url 'forecast_city' %}" method="post">
                    <div hidden class="form-group mx-sm-3 mb-2">
                        <input hiddden type="text" name="cityText" class="form-control form-control-user" id="city" aria-describedby="heightHelp" value="{{city_name}}">
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-info waves-effect btn-md">Meteorologia: {{city_name}}</button>
                </form>
			  </div>
			</div>

			</br></br></br>
        {% endblock %}