{% extends 'base.html' %}
        {% block content %}
        	</br>
			<div class="card" style="width: 60rem">
			  <div class="weather-part-second-image">
				  <img
				    src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
				    class="card-img-top"
				    alt="..."
				  />
				  <div class="badge badge-primary weather-part-second-image-label pl-3 pr-3 pt-2 rounded-0">
	                    <p>{{ day }}</p>
	              </div>
	          </div>
			  <div class="card-body">
			    <h5 class="card-title">Níveis de Ondulação</h5>
			    <p class="card-text">
			      Informação sobre os níveis de ondulação em {{city_name}}:
			    </p>
			  </div>
			  {{ forecast | safe }}
			  <div class="card-body">
			    <a href="{% url 'index' %}" class="card-link">Meteorologia</a>
			  </div>
			</div>

			</br></br></br>
        {% endblock %}